<footer class="footer" *ngIf="state.hasTodos">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count">
    <strong>{{ state.activeCount }}</strong>
    {{ state.activeCount | itemPlural:'todo' }}
    left
  </span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a class="selected" href="#/">All</a>
    </li>
    <li>
        <a href="#/active">Active</a>
    </li>
    <li>
      <a href="#/completed">Completed</a>
    </li>
  </ul>
  <button (click)="clearCompleted()" [class.hidden]="!state.hasCompleted" class="clear-completed">Clear completed</button>
</footer>
